body {
    font-family: "Times New Roman", serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    transform: skewX(3deg);
    font-style: italic;
}

#wordDisplay {
    font-size: 2em;
    color: #4e1f16;
    line-height: 1;
    margin-bottom: 2px; /* Less space between word and definition */
    margin-left: 9px;


}

#definitionLine {
    font-size: 1em;
    color: #4e1f16;
    line-height: 1.2;
    margin-top: 10px;
}

#example {
    font-size: 1em;
    color: #4e1f16;
    line-height: 0.2;
}
